<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Euler's Notes</title>
<link rel="stylesheet" href="../static/bootstrap.min.css">
<link rel="stylesheet" href="../static/css/main.css">
<script src="../static/jquery.min.js" ></script>
</head>
<body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="http://hackathon.io.s3.amazonaws.com/profiles/images/000/070/967/thumb/logo.jpeg?1468740242"/> Euler's Notes
            </a>
        </div>
    </div>
    </nav>
    <section class="main">
     <div class="container">
        <div class="row">
            {% if text %}
                <div class="col-lg-3">
                    <div class="info">
                        <div class="title-val"></div>
                        <div class="desc-val"></div>
                    </div> 
                </div>
                <div class="col-lg-9">
                    <div class="textarea">{{ text }}</div>

                    <script>var entities = {{ entities | tojson | safe}}</script>
                    <script>
                            entities = $.parseJSON(entities);
                            var txt = $(".textarea").html();
                            var obj_keys = Object.keys(entities);
                            for(var key in obj_keys) {
                                var val = entities[obj_keys[key]];
                                txt = txt.replace(obj_keys[key], "<a href='#' class='highlight' data-key="+obj_keys[key].replace(" ", "=")+">"+obj_keys[key]+"</a>");
                            } 
                            $(".textarea").html(txt);
                    </script>
                    <script>
                        $(".highlight").on("click", function(e) {
                            e.preventDefault();
                            var obj_keys = Object.keys(entities);
                            var data_key = $(this).data('key').replace("=", " ");
                            for(var key in obj_keys) {
                                if(obj_keys[key] == data_key) {
                                    $(".info").show();
                                    $('.title-val').html(entities[obj_keys[key]]['title']);
                                    $('.desc-val').html(entities[obj_keys[key]]['abstract']);
                                    //getTweets(entities[obj_keys[key]]['title']);
                                    getWikipedia(entities[obj_keys[key]]['title']);
                                    break;
                                }
                            }
                        });

                        function getTweets(keyword) {
                            $.ajax({
                                url: '/twitter?keyword='+keyword,
                                type: 'GET',
                                success: function(response) {
                                                                
                                }
                            });
                        }
                        function getWikipedia(keyword) {
                            $(".wiki").html("");
                            $.ajax({
                                url: '/wikipedia?keyword='+keyword,
                                type: 'GET',
                                success: function(response) {
                                    response = response.data;
                                    if(response.hasOwnProperty('query') && response.query.hasOwnProperty('pages')) {
                                        $(".wiki").append("<h3 class='wiki-title'>Related Wikipedia Resource</h3>");
                                        var obj_keys = Object.keys(response.query.pages);
                                        //<img src='"+response.query.pages[obj_keys[i]]['thumbnail']['source']+"'>
                                        for(var i in obj_keys) {
                                            $(".wiki").append("<div class='col-lg-3'><h4>"+response.query.pages[obj_keys[i]]['title']+"</h4><div class='wiki-sub'><span>"+response.query.pages[obj_keys[i]]['extract']+"</span></div></div>");
                                        }  
                                    }
                                }
                            });
                        }
                    </script>
                </div>
            {% else %}
                <h3>Upload your course notes for an interactive experience</h3>
                <form action="notes/" method="post" enctype="multipart/form-data">
                    <div class="pull-left"><input class="upload" type="file" name="file"></div>
                    <div class="submit-upload pull-right"><input  class="btn btn-primary " type="submit" value="Upload"></div>
                </form>
            {% endif %}
        </div>
        <div class="row wiki">

        </div>
    </div>
    </section>
       
   </body> 
</html>

